{% set _title = "Code of Conduct" %}
{% extends "templates/_page.html" %}

{% block head %}
<meta name="description" content="The community organization for Progressive Web App enthusiasts, developers and designers in the Philippines." />
<meta property="og:url" content="https://pwapilipinas.org" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Code of Conduct - PWA Pilipinas" />
<meta property="og:description" content="The community organization for Progressive Web App enthusiasts, developers and designers in the Philippines." />
<meta property="og:image" content="https://pwapilipinas.org/assets/images/app-cover.png" />
{% endblock %}

{% block body %}
<div class="container">
    <div>
        <h3>Code of Conduct</h3>

        <h4>It starts with me</h4>

        <h5>Be at best to everyone</h5>
        <p>As a part of the community I will be professional and excellent at all times to
        every members of the community regardless of gender identity and expression,
        sexual orientation, disabilities, neurodiversity, physical appearance,
        body size, ethnicity, nationality, race, age & religion. I will treat everyone
        with respect. I acknowledge that everyone deserves to learn and share knowledge.
        With this, I will not discriminate or harass anyone and that I am responsible for all
        of my actions.</p>

        <h5>Speak up when I see or hear something</h5>
        <p>I know that harassment and discrimination is not tolerated, hence I must report
        any untoward incidents if ever I or someone is being disrespected. I know that by
        speaking up and letting authorities handle the situation, I can help myself, others
        and the community as a whole to maintain a safe space for everyone to express ideas
        and knowledge for everyone's gain.</p>

        <h5>Participate and try to give back</h5>
        <p>I will try my best to participate in events that I can be part of. I understand
        that community is built on everyone's effort hence I will try to give back 
        to the community as much as I could.</p>

    </div>
</div>
{% endblock %}