{% extends "templates/_page.html" %}

{% block head %}
<style>
    .jumbotron { height: auto !important; }

    .jumbo {
        width:100% !important;
        padding-left: 10% !important;
        padding-right: 10% !important;
    }

    .jumbo-mobile { width: 100% !important; }

    .jumboImage{
        max-width: 100%;
        height:400px;
        background-image: url("assets/images/community.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
</style>
{% endblock %}

{% block body %}
<!-- Jumbotron for larger window and desktop -->
<div class="jumbotron hide-on-small-only">
    <div class="jumboImage jumbo"></div>
</div>

<!-- Jumbotron for mobile images and small windows -->
<div class="jumbotron-mobile hide-on-med-and-up">
    <div class="jumboImage jumbo-mobile"></div>
</div>

<div class="container" style="margin-top: 30px;">
    <div class="row" style="width: 100%; display: flex;">
        <div class="col s6">
            <h4 style="font-weight: bold" class="blue-text text-darken-2">
                The community organization for Progressive Web App enthusiasts, developers and designers in the Philippines.
            </h4>
        </div>
        <div class="col s6" style="display: flex; align-items: center; justify-content: center;">
            <img src="assets/images/logo_color.svg" style="width: 200px;">
        </div>
    </div>
</div>
{% endblock %}