{% set _title = "Privacy Policy" %}
{% extends "templates/_page.html" %}

{% block head %}
<meta name="description" content="The community organization for Progressive Web App enthusiasts, developers and designers in the Philippines." />
<meta property="og:url" content="https://pwapilipinas.org" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Privacy Policy - PWA Pilipinas" />
<meta property="og:description" content="The community organization for Progressive Web App enthusiasts, developers and designers in the Philippines." />
<meta property="og:image" content="https://pwapilipinas.org/assets/images/app-cover.png" />
{% endblock %}

{% block body %}
<div class="parent-container parent-container-content">
    <div style="width: 100%; max-width: 800px; min-height: 200px; ">
        <h3 style="font-weight: bold;">Privacy Policy</h3>

        <p>We value your privacy, your information is used for identifying you and tailoring your experience in our online assets and events. We adhere to the RA 10173 (Data Privacy Act of 2012), with this we will not share your information to other parties without your information. For concerns, please send us an email at <a href="mailto:data-privacy@pwapilipinas.org">data-privacy@pwapilipinas.org</a>.</p>
    </div>
</div>
{% endblock %}