{% extends "templates/_page.html" %}

{% block head %}
<meta name="description" content="The community organization for Progressive Web App enthusiasts, developers and designers in the Philippines." />
<meta property="og:url" content="https://pwapilipinas.org" />
<meta property="og:type" content="article" />
<meta property="og:title" content="PWA Pilipinas NEO" />
<meta property="og:description" content="The community organization for Progressive Web App enthusiasts, developers and designers in the Philippines." />
<meta property="og:image" content="https://pwapilipinas.org/assets/images/app-cover.png" />
<style>
    .jumbotron { height: auto !important; }

    .jumbo {
        width:100% !important;
        padding-left: 10% !important;
        padding-right: 10% !important;
    }

    .jumbo-mobile { width: 100% !important; }

    .jumboImage{
        max-width: 100%;
        height:400px;
        background-image: url("assets/images/community.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
</style>
{% endblock %}

{% block body %}
<div class="parent-container parent-container-content">
    <div style="width: 100%; max-width: 800px; min-height: 500px; ">
        <div>
            <h1 style="font-size: 40pt; font-weight: bold;">
                A Community of <span style="color: transparent; -webkit-text-stroke: 1px black;">Progressive Web App</span> Enthusiasts & Developers in the Philippines.
            </h1>

            <!-- Jumbotron for larger window and desktop -->
            <div class="jumbotron hide-on-small-only">
                <div class="jumboImage jumbo" style="filter: grayscale(100%); contrast(100%);"></div>
            </div>

            <!-- Jumbotron for mobile images and small windows -->
            <div class="jumbotron-mobile hide-on-med-and-up">
                <div class="jumboImage jumbo-mobile"  style="filter: grayscale(100%) contrast(100%);"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block body123 %}
<!-- Jumbotron for larger window and desktop -->
<div class="jumbotron hide-on-small-only">
    <div class="jumboImage jumbo"></div>
</div>

<!-- Jumbotron for mobile images and small windows -->
<div class="jumbotron-mobile hide-on-med-and-up">
    <div class="jumboImage jumbo-mobile"></div>
</div>

<div class="container" style="margin-top: 30px;">
    <div class="row hide-on-small-only" style="width: 100%; display: flex;">
        <div class="col s6">
            <h4 style="font-weight: bold" class="blue-text text-darken-2">
                The community organization for Progressive Web App enthusiasts, developers and designers in the Philippines.
            </h4>
        </div>
        <div class="col s6" style="display: flex; align-items: center; justify-content: center;">
            <img src="assets/images/logo_color.svg" style="width: 200px;">
        </div>
    </div>
    <div class="row hide-on-med-and-up">
        <div class="col s12">
            <h4 style="font-weight: bold; text-align: center;" class="blue-text text-darken-2">
                The community organization for Progressive Web App enthusiasts, developers and designers in the Philippines.
            </h4>
        </div>
    </div>

    <div class="row hide-on-small-only" style="width: 100%; display: flex;">
        <style>
            button.primary {
                background-color: #0C3C90;
                padding: 10px;
                border: 0;
                border-radius: 12px;
                font-size: 11pt;
                cursor: pointer;
                width: 50%;
                color: white;
                margin-top: 20px;
            }
        </style>
        <div class="col s6" style="display: flex; align-items: center; justify-content: center; margin-right: 20px;">
            <img src="assets/talk/fugu/banner.png" style="width: 450px; border-radius: 10px;">
        </div>
        <div class="col s6">
            <h5 style="font-weight: bold" class="blue-text text-darken-2">
                Project Fugu<br>
                Reaching parity with native
            </h5>
            <p>
                Project Fugu is an initiative by companies like Google, Intel and Microsoft that aims to extend the web with native-like capabilities
        like ability to access hardware APIs and storage in a safe manner that can be easily understood by users. Join us as Kenneth,
        co-inventor of PWA, give us an introduction about Project Fugu and give the latest and upcoming web capabilities we can take advantage of in our Progressive Web Apps.
            </p>
            <button class="primary" onclick="window.location.replace('https://pwapilipinas.org/talk/fugu')">
                <b>Learn More</b>
            </button>
        </div>
    </div>
    <div class="row hide-on-med-and-up">
        <div class="col s12">
            <img src="assets/talk/fugu/banner.png" style="width: 100%; border-radius: 10px;">
            <h5 style="font-weight: bold" class="blue-text text-darken-2">
                Project Fugu<br>
                Reaching parity with native
            </h5>
            <p>
                Project Fugu is an initiative by companies like Google, Intel and Microsoft that aims to extend the web with native-like capabilities
        like ability to access hardware APIs and storage in a safe manner that can be easily understood by users. Join us as Kenneth,
        co-inventor of PWA, give us an introduction about Project Fugu and give the latest and upcoming web capabilities we can take advantage of in our Progressive Web Apps.
            </p>
            <button class="primary" onclick="window.location.replace('https://pwapilipinas.org/talk/fugu')">
                <b>Learn More</b>
            </button>
        </div>
    </div>
</div>
{% endblock %}