{%
  set _socMed = [
    { title: "Facebook", url: "https://fb.com/PWAPilipinas", tooltip: "Visit our Facebook Page" },
    { title: "Twitter", url: "https://twitter.com/PWAPilipinas", tooltip: "Visit our Twitter Profile" },
    { title: "LinkedIn", url: "https://linkedin.com/company/PWA-Pilipinas", tooltip: "Visit our LinkedIn Account" },
    { title: "YouTube", url: "https://www.youtube.com/channel/UCGnUqjlvx0Kt-tOL5TYBj1A", tooltip: "Visit our YouTube Channel" },
    { title: "Instagram", url: "https://instagram.com/pwapilipinas", tooltip: "Visit our Instagram Account" },
    { title: "GitHub", url: "https://github.com/pwapilipinas", tooltip: "Visit our Github Account" }
  ]
%}
{%
  set _footerLinks = [
    { title: "Code of Conduct", url: "/code-of-conduct", tooltip: "Read our Code of Conduct" },
    { title: "Privacy Policy", url: "/privacy-policy", tooltip: "Read our Privacy Policy" },
    { title: "E-mail", url: "mailto:hi@pwapilipinas.org", tooltip: "Send us an Email" },
    { title: "Team PWA Pilipinas", url: "https://team.pwapilipinas.org", tooltip: "Visit Team PWA Pilipinas Login" }
  ]  
%}

<!--
  PWA Pilipinas
  2020

  All Rights Reserved.

  PWA Pilipinas is a community organization for Progressive Web App designers,
  developers and enthusiasts in the Philippines.

  For questions, please send us an e-mail at hi@pwapilipinas.org
-->
<!Doctype html>
<html lang="en">
    <head>
      <link rel="icon" href="/assets/images/favicon.ico">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      {% if _title %}
      <title>{{ _title }} - PWA Pilipinas</title>
      {% else %}
      <title>PWA Pilipinas</title>
      {% endif %}
      <meta name="theme-color" content="#ECB800">
      <link rel="apple-touch-icon" sizes="128x128" href="/assets/icons/icon-128x128.png">
      <script>
        console.warn(
          "%c\n\nPWA Pilipinas\n\nThis is meant for developer's use only. If someone told you to access this tool, they might be able to gain access to your account and steal personal information.\n\nE-mail us at data-privacy@pwapilipinas.org to report any data privacy incidents.",
          "color: red !important, padding-left: 2%; font-size: x-large; text-align: center;"
        )
      </script>
      <style>
          * { margin: 0; padding: 0; font-family: 'Roboto', sans-serif; --primary: #ECB800 }
          .parent-container-content {
            display: flex;
            justify-content: center;
          }
          @media (max-width: 799px) {
            .parent-container > * {
              padding-left: 5%;
              padding-right: 5%;
            }
          }
      </style>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      {% block head %}
      {% endblock %}
    </head>
    <body style="background-color: var(--primary);">

      <nav class="z-depth-0 parent-container" style="background-color: transparent; border-bottom: 2px solid black; height: 100%;">
        <div style="display: flex; align-items: center; justify-content: center;">

          <div style="display: flex; width: 100%; align-items: center; justify-content: space-between; max-width: 800px;">
            <div style="display: flex; align-items: center; justify-content: center;">
              <a class="grey-text text-darken-2" href="/" style="display: flex; align-items: center; justify-content: center;">
                <img src="/assets/images/logo_black.svg" style="width: 70px;">
              </a>
            </div>
            <div style="display: flex; align-items: center; justify-content: center;">
              <ul id="nav-mobile" class="hide-on-small-only">
                <li class="transparent"><a href="https://app.pwapilipinas.org" class="black-text" style="font-weight: bold;" target="_blank">Open PWA Pilipinas App</a></li>
              </ul>
              <ul id="nav-mobile" class="hide-on-med-and-up">
                <li class="transparent"><a href="https://app.pwapilipinas.org" class="black-text" style="font-weight: bold;" target="_blank">Open App</a></li>
              </ul>
            </div>
          </div>

        </div>
      </nav>
    
      <div style="min-height: 70vh; margin-bottom: 100px;">
          {% block body %}
          {% endblock %}    
      </div>

      <footer class="page-footer black">
          <div class="container">
              <div class="row">
                  <div class="col l6 s12" style="padding-top: 20px;">
                    <img src="/assets/images/logo_white.svg" style="width: 100px;">
                    <p class="grey-text text-lighten-4">
                      A community of Progressive Web App Enthusiasts & Developers in the Philippines.
                    </p>
                  </div>
                  <div class="col l4 s12">
                    <h5 class="white-text">Social Media</h5>
                    <ul>
                      {% for s in _socMed %}
                      <li><a class="grey-text text-lighten-3" href="{{s.url}}" title="{{s.tooltip}}">{{s.title}}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                  <div class="col l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                      {% for s in _footerLinks %}
                      <li><a class="grey-text text-lighten-3" href="{{s.url}}" title="{{s.tooltip}}">{{s.title}}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
              <div class="footer-copyright">
                <div class="container">
                © 2021 Team PWA Pilipinas
                <a class="grey-text text-lighten-4 right" href="https://app.pwapilipinas.org" target="_blank" title="Launch our App">Open App</a>
              </div>
          </div>
      </footer>
    </body>
</html>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap" rel="stylesheet">