{%
  set _socMed = [
    { title: "Facebook", url: "https://fb.com/PWAPilipinas", tooltip: "Visit our Facebook Page" },
    { title: "Twitter", url: "https://twitter.com/PWAPilipinas", tooltip: "Visit our Twitter Profile" },
    { title: "LinkedIn", url: "https://linkedin.com/company/PWA-Pilipinas", tooltip: "Visit our LinkedIn Account" },
    { title: "YouTube", url: "https://www.youtube.com/channel/UCGnUqjlvx0Kt-tOL5TYBj1A", tooltip: "Visit our YouTube Channel" },
    { title: "Instagram", url: "https://instagram.com/pwapilipinas", tooltip: "Visit our Instagram Account" },
    { title: "GitHub", url: "https://github.com/pwapilipinas", tooltip: "Visit our Github Account" }
  ]
%}
{%
  set _footerLinks = [
    { title: "Code of Conduct", url: "/code-of-conduct", tooltip: "Read our Code of Conduct" },
    { title: "Privacy Policy", url: "/privacy-policy", tooltip: "Read our Privacy Policy" },
    { title: "E-mail", url: "mailto:hi@pwapilipinas.org", tooltip: "Send us an Email" },
    { title: "Team PWA Pilipinas", url: "https://team.pwapilipinas.org", tooltip: "Visit Team PWA Pilipinas Login" }
  ]  
%}

<!--
  PWA Pilipinas
  2020

  All Rights Reserved.

  PWA Pilipinas is a community organization for Progressive Web App designers,
  developers and enthusiasts in the Philippines.

  For questions, please send us an e-mail at hi@pwapilipinas.org
-->
<!Doctype html>
<html lang="en">
    <head>
      <link rel="icon" href="/assets/images/favicon.ico">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      {% if _title %}
      <title>{{ _title }} - PWA Pilipinas</title>
      {% else %}
      <title>PWA Pilipinas</title>
      {% endif %}
      <meta name="theme-color" content="#ECB800">
      <link rel="apple-touch-icon" sizes="128x128" href="/assets/icons/icon-128x128.png">
      <script>
        console.warn(
          "%c\n\nPWA Pilipinas\n\nThis is meant for developer's use only. If someone told you to access this tool, they might be able to gain access to your account and steal personal information.\n\nE-mail us at data-privacy@pwapilipinas.org to report any data privacy incidents.",
          "color: red !important, padding-left: 2%; font-size: x-large; text-align: center;"
        )
      </script>
      <style>
          * {
              margin: 0;
              padding: 0;
              font-family: Arial, Helvetica, sans-serif;
          }
      </style>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      {% block head %}
      {% endblock %}
    </head>
    <body>
      <nav class="white z-depth-0">
        <div style="margin-left: 5%;">
          <a class="brand-logo grey-text text-darken-2" href="/">
            <img src="/assets/images/logo_color.svg" style="width: 70px; padding-top: 12px;">
          </a>
          <ul id="nav-mobile" class="right hide-on-small-only">
            <li class="yellow darken-1"><a href="https://app.pwapilipinas.org" class="black-text" style="font-weight: bold;" target="_blank">Open PWA Pilipinas App</a></li>
          </ul>
          <ul id="nav-mobile" class="right hide-on-med-and-up">
            <li class="yellow darken-1"><a href="https://app.pwapilipinas.org" class="black-text" style="font-weight: bold;" target="_blank">Open App</a></li>
          </ul>
        </div>
      </nav>
    
      <div style="min-height: 70vh; margin-bottom: 50px;">
          {% block body %}
          {% endblock %}    
      </div>

      <footer class="page-footer blue darken-2">
          <div class="container">
              <div class="row">
                  <div class="col l6 s12" style="padding-top: 20px;">
                    <img src="/assets/images/logo_white.svg" style="width: 100px;">
                    <p class="grey-text text-lighten-4">
                      The community organization for Progressive Web App enthusiasts, developers and designers in the Philippines.
                    </p>
                  </div>
                  <div class="col l4 s12">
                    <h5 class="white-text">Social Media</h5>
                    <ul>
                      {% for s in _socMed %}
                      <li><a class="grey-text text-lighten-3" href="{{s.url}}" title="{{s.tooltip}}">{{s.title}}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                  <div class="col l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                      {% for s in _footerLinks %}
                      <li><a class="grey-text text-lighten-3" href="{{s.url}}" title="{{s.tooltip}}">{{s.title}}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
              <div class="footer-copyright">
                <div class="container">
                © 2020 Team PWA Pilipinas
                <a class="grey-text text-lighten-4 right" href="https://app.pwapilipinas.org" target="_blank" title="Launch our App">Open App</a>
              </div>
          </div>
      </footer>
    </body>
</html>